<h3>Moj profil</h3>
<table>
 <tr>
  <td><b>Ime :</b></td>
  <td>{{ulogovan.ime}}</td>
 </tr>
 <tr>
  <td><b>Preime :</b></td>
  <td>{{ulogovan.prezime}}</td>
 </tr>
 <tr>
  <td><b>Mejl :</b></td>
  <td>{{ulogovan.mejl}}</td>
 </tr>
 <tr>
  <td><b>Kontakt :</b></td>
  <td>{{ulogovan.kontakt}}</td>
 </tr>
 <tr>
  <td><b>Adresa :</b></td>
  <td>{{ulogovan.adresa}}</td>
 </tr>
 <tr *ngIf="ulogovan.tip == 'gost'">
  <td><b>Broj kartice :</b></td>
  <td>{{ulogovan.brKartice}}</td>
 </tr>
 <tr>
  <td><b>Profilna slika :</b></td>
  <td>
    <div>
      <img [src]="profilImageURL" height="300px" width="300px" alt="Opis slike">
    </div>
    <!--<div *ngIf="ulogovan.profilna!= '' ">
      <img [src]="profilImageURL" height="300px" width="300px">
    </div>
    <div *ngIf="ulogovan.profilna == '' ">
      <img src="/assets/default.jpg" height="100px" width="100px" alt="Moja profilna fotografija">
    </div>-->
  </td>
 </tr>
</table>
<button (click)="toggleAzuriranjePodataka()">Azuriraj podatke</button>
<hr/>


<div *ngIf='prikaziFormuZaAzuriranje'>
  <b>Azurirajte svoje podatke: </b> <br/>
  Ime:  <input type='text' name='ime' [(ngModel)]='ime'> <br/>
  Prezime:  <input type='text' name='prezime' [(ngModel)]='prezime'> <br/>
  Mejl:  <input type='text' name='mejl' [(ngModel)]='mejl'> <br/>
  Adresa:  <input type='text' name='adresa' [(ngModel)]='adresa'> <br/>
  Kontakt telefon:  <input type='text' name='kontakt' [(ngModel)]='kontakt'> <br/>
  <div *ngIf="ulogovan.tip == 'gost'">Broj Kreditne kartice:  <input type='text' name='kartica' [(ngModel)]='kartica'></div>  <br/>
  Profinla fotografija: <input type="file" id="image" (change)="selectFile($event)" name="image"  accept=".png, .jpg"> <br/>
  <button (click)="azuriraj()">Azuriraj</button>
</div>
<span class="greska">{{porukaFormatMejl}}</span><br/>
<span class="greska">{{porukaFormatKontakt}}</span> <br/>
<span class="greska">{{porukaFormatKartica}}</span> <br/>
<span class="greska">{{porukaAzuriranja}}</span> <br/>

