@import "~bootstrap/dist/css/bootstrap.min.css";

body{
  background: radial-gradient(circle, rgba(243,245,247,1) 0%, rgba(165,198,217,1) 100%);
}

h4 {
  margin: 5px;
}

input[type='text'],
input[type='password']{
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width:250px;
  height:20px;
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  width:260px;
  height:18px;
}

.greska {
  color: red;
}
button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;

}

select{
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width:250px;
}

textarea{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width:250px;
}


