<h2>Promenite lozinku</h2>
Korisnicko ime: <input type="text" name="username" [(ngModel)]="kor_ime"> <br/>
Stara lozinka: <input type="password" name="oldPassword" [(ngModel)]="staraLozinka"> <br/>
Nova lozinka: <input type="password" name="newPassword1" [(ngModel)]="novaLozinka1"> <br/>
Nova ponvo: <input type="password" name="newPassword2" [(ngModel)]="novaLozinka2"> <br/>
<button (click)="azurirajLozinku()"> Azuriraj lozinku </button> <br/>
<span class="greska">{{porukaGreske}}</span> <br/>
<span class="greska">{{porukaFormat}}</span> <br/>

